input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}
input.submit{
    margin-left: 5px;
}
input.submit:hover{
    background-color: #007bff;
    color: white;
    border: none;
}
input.submit:active{
    background-color: #0069d9;
    border: none;
}
h1{
    text-align: center;
    font-family: sans-serif;
}